%header
  #header-container
    %h1 Raed Atoui
    .contacts
      %ul
        %li
          %a{href: "mailto:raed.atoui@gmail.com"}
            = image_tag "glyphicons_399_e-mail.png"

        %li
          %a{href: "http://github.com/raedatoui"}
            =image_tag "glyphicons_381_github.png"

        %li
          %a{href: "http://www.linkedin.com/in/raedatoui"}
            =image_tag "glyphicons_377_linked_in.png"

        %li
          %a{href: "http://zoo.tl/u/raedatoui"}
            =image_tag "glyphicons_373_zootool.png"

        %li
          %a{href: "http://soundcloud.com/raedatoui"}
            =image_tag "sc.jpg"

        %li
          %a{href: "http://www.last.fm/user/BlackIcicles"}
            =image_tag "glyphicons_396_last_fm.png"

  -# .onoffswitch
  -#   %input#main-swtich.onoffswitch-checkbox{name: "onoffswitch", type: "checkbox"}/
  -#   %label.onoffswitch-label{for: "main-swtich"}
  -#     .onoffswitch-inner
  -#     .onoffswitch-switch

  -# %hr


